name: Build and Test

on:
  pull_request:
    branches: [main, master]

jobs:
  build:
    name: Build and Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Dependencies
        run: mvn install -DskipTests

      - name: Run Tests
        run: mvn test

      - name: Publish Test Report
        if: always()
        with:
          name: JUnit Test Report
          path: '**/target/surefire-reports/TEST-*.xml'
          reporter: junit
