name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      # Крок для перевірки коду з репозиторію
    - uses: actions/checkout@v4

      # Крок для налаштування JDK 17
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

      # Крок для зборки проєкту Maven без запуску тестів
    - name: Build & Install
      run: mvn -B install -D skipTests --no-transfer-progress

      # Крок для встановлення Playwright та його залежностей
    - name: Install Playwright
      run: mvn exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install --with-deps"

      # Крок для запуску Playwright тестів
    - name: Run Playwright tests
      run: mvn test

      # Крок для збереження результатів тестів
    - name: Store Playwright test results
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: playwright-test-results
        path: target/surefire-reports/
